*{
    font-family: '標楷體';
    box-sizing: border-box;
    margin: auto;
}

body{
    width: 1024px;
    height: 768px;
}

header{
    width: 1000px;
    height: 65px;
    background-color: lightblue;
}

.main{
    width: 1000px;
    height: calc(768px - 65px - 20px);
    background-color: black;
    display: flex;
}

.left{
    width: 215px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: coral;
}

.menu{
    width: 100%;
    height: calc(100% - 20px);
    background-color: lightcoral;


}

.menu-header{
    background-color: lightpink;
    text-align: center;
}

.menu-bar{
    width: 200px;
    height: 35px;
    margin: 10px 5px;
    background-image: url(./mat/menu1.png);
    text-align: center;
}

.menu-bar:hover{
    background-image: url(./mat/menu2.png);
}

.update{
    width: 215px;
    height: 20px;
    background-color: blue;
}

.right{
    width: calc(100% - 215px);
    height: 100%;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

marquee{
    width: 100%;
    height: 29px;
    background-color: blue;
}

.content{
    width: 100%;
    height: calc(100% - 29px);
    background-color: peru;
}

footer{
    width: 1000px;
    height: 20px;
    background-color: lightblue;
}